#uniLogo {
    float: right;
    width: 256px;
    padding: 2px;
    border: 1px solid #ccc;
}

#uniLogoBanner {
    float: left;
    width: 150px;
    
    padding: 10px;
    /*border: 1px solid #ccc;*/
}

#header-text {
    margin-top: 48px;
}

